<launch>
    <arg name="config"/>
    <arg name="rosbag" default="false"/>
    <arg name="use_path_follow" default="true"/>

    <group if="$(arg use_path_follow)">
        <include file="$(find dvf_path_follow)/launch/path_follower.launch" />
    </group>

    <node pkg="viplanner_node" type="viplanner_node.py" name="viplanner_node" output="screen">
        <rosparam command="load" file="$(find viplanner_node)/config/$(arg config).yaml"/>
    </node>
    <!-- <node type="rviz" name="dvf_planner_rviz" pkg="rviz" args="-d $(find dvf_planner_node)/rviz/default.rviz" respawn="false"/> -->
</launch>
